*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: hsl(211, 87%, 25%);
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* || Common Styling for Header & Main || */
.head,
.main {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    max-width: 90%;
    margin: 10vh auto;
}

/* || User Input Header Area || */
#msg,
#msg-type {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    outline: 0.18rem solid currentColor;
    width: 50%;
}
#msg:hover,
#msg:focus,
#msg-type:hover,
#msg-type:focus {
    outline-offset: 0.2rem;
}
#btn {
    border: none;
    background-color: #fff;
    padding: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: 0.18rem solid currentColor;
    outline-offset: -0.5rem;
    transition: color 700ms;
    width: 50%;
}
#btn::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms;
}
#btn:hover,
#btn:focus {
    color: #fff;
}
#btn:hover::after,
#btn:focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* || Message Box || */
.msgBox {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.7rem;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #eee;
    z-index: 1;
}
.msgBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50px;
    height: 50px;
    mask-size: 30px;
    mask-repeat: no-repeat;
    background-color: #fff;
}
.msgBox--info {
    background-color: hsl(130, 100%, 50%);
}
.msgBox--caution {
    background-color: hsl(50, 100%, 50%);
}
.msgBox--warning {
    background-color: hsl(5, 100%, 50%);
}

.msgBox--info::before {
    mask-image: url("./images/info-icon.svg");
}
.msgBox--caution::before {
    mask-image: url("./images/caution_icon.svg");
}
.msgBox--warning::before {
    mask-image: url("./images/warning_icon.svg");
}
.msgBox p {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.5rem 2rem;
    color: hsl(0, 0%, 20%);
}
.msgBox--warning p {
    color: hsl(0, 0%, 100%);
}
.msgBox button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
}
.msgBox button:hover {
    color: #fff;
}

@media screen and (max-width: 860px) {
    #msg,
    #msg-type,
    #btn {
        font-size: 1.2rem;
        width: 80%;
    }
    .msgBox p {
        font-size: 1.2rem;
    }
    .msgBox button {
        font-size: 1rem;
    }
}
